<% layout("layouts/boilerplates") -%>

<div class="row mb-3">
    <h4 class="text-center">LogIn</h4>
    <div class="col-md-6 offset-3">
        <form action="/login" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input type="text" name="username" id="username" placeholder="Enter User Name" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">User Password</label>
                <input type="password" name="password" id="password" placeholder="Enter password" class="form-control" required>
            </div>
                <button class="btn btn-success" type="submit">LogIn</button>
        </form>
    </div>
</div>